{% load user_filters %}
{% for item in comments %}
<div class="media card mb-4">
  <div class="media-body card-body">
    <h5 class="mt-0">
      <a href="{% url 'profile' item.author.username %}" name="comment_{{ item.id }}">
        {{ item.author.username }}
      </a>
    </h5>
    <p>{{ item.text | linebreaksbr }}</p>
    <div class="d-flex justify-content-between align-items-center">
      {% if user.is_authenticated %}
      {% if user.username == item.author.username %}
      <a class="btn btn-sm text-muted" href="{% url 'comment_delete' post.author.username post.id item.id %}" role="button">Удалить комментарий </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% empty %}
<p>Комментариев пока нет :(</p>
{% endfor %}
