{% load static %}
<aside class="col-md-4 blog-sidebar">
  <div class="p-4">
    <ol class="list-unstyled">
      <a href="https://github.com/nazarovaea1"><img src="{% static '/images/github100.png' %}" width="35px" height="35px" alt="Github"></a>
      <a href="tg://resolve?domain=nazarovaea"><img src="{% static '/images/telegram128.png' %}" width="35px" height="35px" alt="Telegram"></a>
      <a href="https://www.instagram.com/nazarovaea/"><img src="{% static '/images/instagram128.png' %}" width="35px" height="35px" alt="Instagram"></a>
      <a href="mailto:nazarovaea1@gmail.com"><img src="{% static '/images/mail128.png' %}" width="35px" height="35px" alt="Mail"></a>
    </ol>
  </div>
</aside>
